<h1>Editing meeting organizer list</h1>

<%= render "form", meeting_organizer_list: @meeting_organizer_list %>

<br>

<div> 
  <%= link_to "Back to meeting organizer lists", meeting_organizer_lists_path, class:"btn btn-dark"  %>
</div>
